/* CHANGELISTS */

#changelist {
    position: relative;
    width: 100%;
    margin-top: 20px;
    background: transparent;
    border: none; 
}

#changelist table {
    width: 100%;
}

.change-list .hiddenfields { display:none; }

.change-list .filtered table {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.change-list .filtered {
    min-height: 400px;
}

.change-list .filtered {
    background: transparent;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    /*margin-right: 160px !important;*/
    /*width: auto !important;*/
}

.change-list .filtered table tbody th {
    padding-right: 1em;
}

.change-list .filtered #toolbar {
    float: left;
    width: 80%;
}

.change-list .filtered #changelist-form {
    width: 80%;
}

#changelist-form .results {
  overflow-x: auto;
}

#changelist .toplinks {
    border-bottom: 1px solid #ccc !important;
}

#changelist .paginator {
    display: inline-block;
    background: #fff;
    padding: 4px 10px 5px;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 1;
    overflow: hidden;
    color: #999;
}

/* CHANGELIST TABLES */

#changelist table thead tr {
    height: 25px;
}

#changelist table thead th {
    height: auto;
    padding: 0;
    white-space: nowrap;
    vertical-align: middle;
}

#changelist table thead th.action-checkbox-column {
    width: 1.5em;
    text-align: center;
}

#changelist table tbody td, #changelist table tbody th {
    vertical-align: middle;
}

#changelist table tbody td:first-child, #changelist table tbody th:first-child {
    border-left: 0;
}

#changelist table tbody td.action-checkbox {
    text-align:center;
}

#changelist table tfoot {
    color: #999;
}

/* TOOLBAR */

#changelist #toolbar {
    background: #4285f4;
    color: #fff;
}

#changelist #changelist-search img {
    display: none;
}

#changelist #changelist-search {
    padding: 5px;
}

#changelist-search input[type=text]{
    width: 90%;
    height: 36px;
    padding: 0 18px 0 60px;
    background: #5e97f6;
    color: #fff;
    font-size: 14px;
    border: 0;
    border-radius: 2px;
}

#changelist-search input[type=text]:focus {
    background: #5f99fe;
    outline: -webkit-focus-ring-color auto 0px;

}

#changelist-search:before {
    position: absolute;
    top: 14px;
    left: 20px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e624";
    font-size: 22px;
}

#changelist-search input[type=submit] {
    display: none;
}

#changelist-search .quiet {
    clear: both;
    display: block;
    text-align: right;
    padding: 4px 0 0;
}

#changelist-search .quiet {
    color: #fff !important;
    font-weight: normal !important;
}

#changelist-search .quiet a {
    color: #3c64a6;
}

/* FILTER COLUMN */

#changelist-filter {
    float: right;
    z-index: 1000;
    width: 18%;
    border: 1px solid #ccc;
    margin-left: 10px;
    background: #fff;
}

#changelist-filter h2 {
    position: absolute;
    top: -20px;
    padding: 0;
    font-size: 12px;
}

#changelist-filter h3 {
    font-size: 12px;
    margin-bottom: 0;
}

#changelist-filter ul {
    padding-left: 0;
    margin-left: 10px;
}

#changelist-filter li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#changelist-filter a {
    color: #999;
}

#changelist-filter a:hover {
    color: #036;
}

#changelist-filter li.selected {
    border-left: 5px solid #ccc;
    padding-left: 5px;
    margin-left: -10px;
}

#changelist-filter li.selected a {
    color: #5b80b2 !important;
}

/* DATE DRILLDOWN */

.change-list ul.toplinks {
    display: block;
    background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
    border-top: 1px solid white;
    float: left;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.change-list ul.toplinks li {
    padding: 3px 6px;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
}

.change-list ul.toplinks .date-back a {
    color: #999;
}

.change-list ul.toplinks .date-back a:hover {
    color: #036;
}

/* PAGINATOR */

.paginator {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px;
    margin:0;
    /*border-top: 1px solid #ddd;*/
}

.paginator a:link, .paginator a:visited {
    padding: 0 6px;
    text-decoration: none;
    font-weight: 700;
}

.paginator a.showall {
    padding: 0 !important;
    border: none !important;
}

.paginator a.showall:hover {
    color: #088af7 !important;
    background: transparent !important;
}

.paginator .end {
    border-width: 2px !important;
    margin-right: 6px;
}

.paginator .this-page {
    padding: 0 6px;
}

.paginator a:hover {
    color: #088af7;
}

/* ACTIONS */

.filtered .actions {
    /*margin-right: 160px !important;*/
    border: 1px solid #e5e5e5;
}

#changelist table input {
    margin: 0;
}

#changelist table tbody tr.selected {
    background-color: #FFFFCC;
}

#changelist .actions {
    color: #999;
    padding: 3px;
    background: #fff;
}

#changelist .actions.selected {
    background: #fffccf;
    border-top: 1px solid #fffee8;
    border-bottom: 1px solid #edecd6;
}

#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
    font-size: 11px;
    margin: 0 0.5em;
    display: none;
}

#changelist .actions:last-child {
    border-bottom: none;
}

#changelist .actions select {
    border: 1px solid #aaa;
    margin-left: 0.5em;
    padding: 1px 2px;
}

#changelist .actions label {
    font-size: 11px;
    margin-left: 0.5em;
}

#changelist #action-toggle {
    display: none;
}

#changelist .actions .button {
    font-size: 11px;
    padding: 4px 9px 6px;
    line-height: 1;
    color: #fff;
    background: #4285f4;
}