/* LOGIN FORM */

body.login {
    background: #eee;
}

.login #container {
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    border-radius: 4px;

    -webkit-box-shadow: 0 2px 2px -2px rgba(50, 50, 50, 0.50);
    -moz-box-shadow: 0 2px 2px -2px rgba(50, 50, 50, 0.50);
    box-shadow: 0 2px 2px -2px rgba(50, 50, 50, 0.50);
}

.login #content-main {
    width: 100%;
}

.login form {
    margin-top: 1em;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 6px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 10px;
    display: block;
}

.login .submit-row {
    clear: both;
    text-align: center;
}

.login .submit-row label {
    display: none;
}

.login .submit-row input {
    display: inline-block;
}

.login .password-reset-link {
    text-align: center;
}

/**
 * Header
 */
.login #header {
    border-radius: 2px 2px 0 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.login #branding {
    text-align: center;
}

.login #content {
    margin: 0 auto 10px;
}

.login .errornote {
    margin-top: 20px;
}

.login #footer {
    padding: 0;
}
